#contenedor {
    text-align: center;
    margin-top: 50px;
}

boton {
    font-family: 'Arial', sans-serif; 
    font-size: 20px;
    padding: 20px 30px;
    background-color: #4d86cb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

boton:hover {
    background-color: #4e6eb7;
}

.contenedor-mensaje {
    margin-top: 20px;
}

.mensaje {
    font-family: 'Arial', sans-serif; 
    font-size: 25px;
    color: #000000;
    animation: fadeIn 4s ease-out; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}